 
body {
    margin: 0;
    background: #d3d3d3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2e2e2e;
}

#content {
    margin: 0 auto;
    padding: 50px;
    border: 1px solid darkgray;
    max-width: 60%;

}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
}
p {
    color: #035f9c;
    font-size: 1.3em;
}

h1, h2, p {
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
    text-align: center;
}